@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/************ Deafult Styling ************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********** Utilities ************/

body {
    font-family: "Poppins", sans-serif;
    background-color: #fefbf6;
    color: #3d3c42;
}

header,
main {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 100px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #3d3c42;
    color: #e8e8e8;
}

/*********** Header **********/

.container {
    width: 85vw;
    margin: 50px 0;
    padding: 0 100px 0 80px;
    border-radius: 30px;

    background-color: #3d3c42;
    color: #fefbf6;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__info {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    padding: 60px 0;

    animation: slide_up 2s ease 0s 1;
}

.header__info h1 {
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 20px;
}

.header__info p {
    width: 90%;
    line-height: 26px;
    margin-bottom: 30px;
}

.btn {
    font-size: 20px;
    text-decoration: none;
    padding: 16px 25px;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn__primary {
    color: #fefbf6;
    background-color: #7f5283;
    
    box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
}

.btn:hover {
    box-shadow: 0 10px 15px #7f528350;
    transform: translateY(-5px);
}

.btn i {
    margin-left: 20px;
}

.header__img {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slide_left 2s ease 0s 1;
}

.header__img img {
    width: 100%;
}

/*********** Blogs Section ************/

.contents {
    width: 85vw;

    display: grid;
    grid-template-columns: 312px calc(100% - 312px);
    gap: 24px;
}

.contents .contents__nav {
    background-color: #3d3c42;
    box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    height: 312px;
}

.btn__secondary {
    color: #3d3c42;
    background-color: #fefbf6;
    text-align: center;
}

.active {
    color: #fefbf6;
    background-color: #7f5283;
    text-align: center;
}

.contents__blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.contents__blogs .blog {
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
}

.blog__img img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.blog .blog__content {
    padding: 20px;
}

.blog__content .topic {
    background-color: #7f52834b;
    border: 1px solid #7f5283;
    color: #7f5283;
    display: inline-block;
    border-radius: 5px;
    padding: 4px 16px;
    margin-bottom: 15px;
}

.blog__content h2 {
    height: 95px;
    font-size: 16px;
    margin-bottom: 20px;
}

.info ul {
    list-style: none;
}

.info ul li {
    display: inline-block;
    margin-right: 30px;
    color: #7f5283;
}

.info ul li span {
    margin-left: 10px;
}

/********* View all button *********/
.view__all {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

/*********** Footer **********/
.footer {
    margin: 100px 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h1 {
    text-align: center;
    width: 80vw;
    font-size: 40px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer ul {
    list-style: none;
    margin: 50px 0 0;
}

.footer ul li {
    display: inline-block;
    padding: 0 20px;
}

.footer ul li a {
    color: #fefbf6;
    text-decoration: none;
    transition: all 0.3s;
}

.link:hover {
    color: #b671bd;
}

.round__bg {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 35px;
    width: 35px;

    background-color: #fefbf634;
    border-radius: 50%;

    box-shadow: 0 10px 10px #7f52834b;
}
.round__bg:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 15px #7f52833a;
    color: #b671bd;
    background-color: #7f528334;
}

/********* Match Section *************/
.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.matches .match {
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    height: 242px;
    box-shadow: 0 10px 15px rgb(0 0 0 / 10%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.match .match__details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.team__flags {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30%;

    margin-bottom: 20px;
}

.team__flags img {
    width: 100%;
}

.team__flags h4 {
    padding: 0 10px;
}

.team__names {
    margin-bottom: 10px;
}

.match__time {
    /* color: #4d4d4dc7; */
    color: #7f5283;
}

/*********** Animation **************/


@keyframes slide_up {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide_right {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: collapse;
    }
}

@keyframes slide_left {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: collapse;
    }
}


/*********** Media Queries ***********/


/* Mobile Device */

@media screen and (max-width: 768px) {

    header, main {
        margin-bottom: 30px;
    }

    /* Header */
    .container {
        width: 87vw;
        flex-direction: column;
        padding: 0 40px;
        margin-top: 4vh;
        margin-bottom: 0;
    }

    .header__info {
        text-align: center;
        align-items: center;
        width: 100%;
        animation: slide_right 2s ease 0s 1;
    }

    .header__info h1 {
        font-size: 22px;
        line-height: normal;
    }

    .header__info p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        line-height: normal;
        font-size: 14px;
        width: 100%;
        font-weight: 300;
    }

    .btn__primary {
        font-size: 20px;
        padding: 10px 20px;
    }

    .header__img {
        align-self: center;
    }

    .header__img img {
        width: 80%;
    }

    /* Blogs */
    .contents {
        width: 87vw;
        grid-template-columns: 1fr;
    }

    .contents .contents__nav {
        align-items: center;
        padding: 0 30px;
        height: auto;
        gap: 20px;
        background-color: transparent;
        box-shadow: none;
    }

    .btn__secondary {
        font-size: 20px;
        font-weight: 500;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
    }

    .active {
        padding: 10px 50px;

    }

    .contents__blogs {
        grid-template-columns: 1fr;
    }

    .blog__content .topic {
        font-size: 20px;
        font-weight: 500;
    }

    .blog__content h2 {
        font-size: 19px;
        line-height: 28px;
    }

    /*********** Match **************/
    .matches {
        grid-template-columns: 1fr;
    }
    

    /* Footer */
    .footer {
        margin: 30px 0;
    }

    .footer h1 {
        padding-bottom: 30px;
    }

    .footer ul li {
        padding: 0;
    }

    .site__links ul li {
        display: block;
        text-align: center;
    }
    .site__links ul li:not(:last-child) {
        margin-bottom: 30px;
    }

    .social__links ul {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

}

/* Tablet Device */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    header, main, .hidden {
        margin-bottom: 70px;
    }

    /* Header */
    .container {
        width: 90vw;
        padding: 0 50px;
        margin-top: 9vh;
        margin-bottom: 0;
    }

    .header__info h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .header__info p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 24px;
        font-size: 14px;
        width: 100%;
        font-weight: 400;
    }

    .btn__primary {
        font-size: 20px;
        padding:12px 20px;
    }

    .header__img img {
        width: 90%;
        margin-left: 40px;
    }

    /* Blogs */
    .contents {
        width: 90vw;
        grid-template-columns: 1fr;
    }

    .contents .contents__nav {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 0;
        height: auto;
        background-color: transparent;
        box-shadow: none;
    }

    .btn__secondary {
        width: 30%;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
    }

    .contents__blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog__content .topic {
        font-size: 19px;
        font-weight: 500;
    }

    .blog__content h2 {
        font-size: 20px;
        line-height: 28px;
    }

    .hide {
        display: none;
    }

    .hidden {
        display: block;
    }

    /*********** Match **************/
    .matches {
        grid-template-columns: repeat(2, 1fr);
    }
    

    /* Footer */
    .footer {
        margin: 60px 0;
    }

    .footer h1 {
        padding-bottom: 40px;
    }

    .footer ul li {
        padding: 0;
    }

    .site__links ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;

        margin: 30px 100px 0;
    }

    .social__links ul {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }
}