@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/************ Deafult Styling ************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*********** Utilities ************/

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FEFBF6;
    color: #3D3C42;
}

header, main {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 100px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #3D3C42;
    color: #E8E8E8;
}

/*********** Header **********/

.container {
    width: 85vw;
    margin: 50px 0;
    padding: 0 100px 0 80px;
    border-radius: 30px;

    background-color: #3D3C42;
    color: #FEFBF6;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__info {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    padding: 60px 0;

    animation: slide_up 2s ease 0s 1;
}

.header__info h1 {
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 20px;
}

.header__info p {
    width: 90%;
    line-height: 26px;
    margin-bottom: 30px;
}

.btn {
    font-size: 20px;
    text-decoration: none;
    padding: 16px 25px;
    border-radius: 5px;
    transition: all .3s;
}

.btn__primary {
    color: #FEFBF6;
    background-color: #7F5283;
}


.btn:hover {
    box-shadow: 0 10px 15px #7f528350;
    transform: translateY(-5px);
}

.btn i {
    margin-left: 20px;
}

.header__img {
    align-self: flex-end;
    animation: slide_left 2s ease 0s 1;
}


.header__img img {
    width: 100%;
    /* height: 100%; */
}

@keyframes slide_up {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide_left {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: collapse;
    }
}

/*********** Blogs Section ************/

.contents {
    width: 85vw;
    
    display: grid;
    grid-template-columns: 312px calc(100% - 312px);
    gap: 24px;
}

.contents .contents__nav {
    background-color: #3D3C42;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    height: 312px;
}

.btn__secondary {
    color: #3D3C42;
    background-color: #FEFBF6;
    text-align: center;
}

.active {
    color: #FEFBF6;
    background-color: #7F5283;
    text-align: center;
}

.contents__blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.contents__blogs .blog {
    border-radius: 10px;
    border: 1px solid #E8E8E8;
}

.blog__img img {
    width: 100%;
}

.blog .blog__content {
    padding: 20px;
}

.blog__content .topic {
    background-color: #7f52834b;
    border: 1px solid #7F5283;
    color: #7F5283;
    display: inline-block;
    border-radius: 5px;
    padding: 4px 16px;
    margin-bottom: 15px;
}

.blog__content h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

.info ul {
    list-style: none;
}

.info ul li {
    display: inline-block;
    margin-right: 30px;
    color: rgba(22, 22, 22, 0.7);
}

.info ul li span {
    margin-left: 10px;
}

/********* View all button *********/
.view__all {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

/*********** Footer **********/
